<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>le CampingMafia</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:200,400' rel='stylesheet' type='text/css' />
    <style type="text/css">

    body {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }

    h1 {
        text-align: center;
        padding: 0px 0px 20px 0px;
    }

    h1 img {
        position: relative;
        bottom: -20px;
        margin-right: 20px;
    }

    table.startups {
        display: block;
        width: 94%;
        margin: 0px auto 40px auto;
    }

    table.startups th {
        text-align: left;
        padding: 5px 10px 10px 10px;
    }

    table.startups td {
        padding: 10px 10px 0px 10px;
    }

    /*  TAKU STYLE */
    table.startups .favicon {
        vertical-align: middle
    }

    table.startups .favicon img {
        width: 20px;
        height: 20px;
    }

    table.startups .website a {
        text-decoration: none;
        color: #888;
        font-style: italic;
    }

    table.startups .status {
        text-align: center;
    }

    table.startups .status img {
        width: 20px;
    }

    table.startups .season {
        text-align: center
    }

    table.startups .season span {
        background: url({{ asset('bundles/lcmcore/img/icon-border.png') }}) no-repeat;
        background-size: cover;
        height: 20px;
        line-height: 19px;
        width: 20px;
        color: #888;
        display: inline-block;
        font-size: 12px;
        position:relative;
        top: -1px;
    }

    table.startups .connect {
        width: 155px;
    }

    table.startups .connect img {
        width: 20px;
        border: 0px;
    }

    table.startups .connect a {
        text-decoration: none;
        color: #888;
        margin-right: 10px
    }

    table.startups .pitch {
        font-size: 12px;
    }

    .footer {
        background: #ccc;
    }

    .footer {
        background: #ccc;
        display: block;
        width: 100%;
        color: #fff;
        font-size: 12px;
    }

    .footer table {
        display: block;
        width: 94%;
        margin: auto;
    }

    .footer td {
        text-align: center;
    }

    .footer td.small-left {
        text-align: left;
    }

    .footer td.small-right {
        text-align: right;
    }

    .footer td.small {
        width: 25%;
    }

    .footer td img {
        width: 300px;
    }

    .footer td.small-left a {
        color: #ddd;
    }

    </style>
</head>
<body>
    <div id="content">
        <h1 id="head">
            <img src="{{ asset('bundles/lcmcore/img/campingmafia.png') }}" alt="le CampingMafia" />
            Le Camping Mafia
        </h1>

        <table class="startups">
            <tr>
                <th></th>
                <th>name</th>
                <th>website</th>
                <th class="center">status</th>
                <th class="center">season</th>
                <th class="center">pitch</th>
                <th class="center">connect</th>
            </tr>
        {% for startup in startups %}
            <tr>
                <td class="favicon">
                    {% if startup.hasFavicon %}
                        <img src="{{ startup.faviconSrc }}" />
                    {% endif %}
                </td>
                <td class="name">
                    {{ startup.name }}
                </td>
                <td class="website">
                    <a href="{{ startup.website }}">{{ startup.website[7:] }}</a>
                </td>
                <td class="status">
                    {% if startup.status == 'a' %}
                        <img src="{{asset('bundles/lcmcore/img/icon-active.png')}}" />
                    {% elseif startup.status == 'd' %}
                        <img src="{{asset('bundles/lcmcore/img/icon-dead.png')}}" />
                    {% elseif startup.status == 'e' %}
                        <img src="{{asset('bundles/lcmcore/img/icon-exited.png')}}" />
                    {% else %}
                    {% endif %}
                </td>
                <td class="season">
                    <span>{{ startup.season }}</span>
                </td>
                <td class="pitch">
                    {{ startup.pitch }}
                </td>
                <td class="connect">
                    {% if startup.mail|length > 0 %}
                    <a href="mailto:{{ startup.mail }}">
                        <img src="{{asset('bundles/lcmcore/img/icon-mail.png')}}" />
                    </a>
                    {% endif %}

                    {% if startup.facebookUrl|length > 0 %}
                    <a href="{{ startup.facebookUrl }}">
                        <img src="{{asset('bundles/lcmcore/img/icon-facebook.png')}}" />
                    </a>
                    {% endif %}

                    {% if startup.twitterUrl|length > 0 %}
                    <a href="{{ startup.twitterUrl }}">
                        <img src="{{asset('bundles/lcmcore/img/icon-twitter.png')}}" />
                    </a>
                    {% endif %}

                    {% if startup.angelistUrl|length > 0 %}
                    <a href="{{ startup.angelistUrl }}">
                        <img src="{{asset('bundles/lcmcore/img/icon-angelist.png')}}" />
                    </a>
                    {% endif %}

                    {% if startup.linkedinUrl|length > 0 %}
                    <a href="{{ startup.linkedinUrl }}">
                        <img src="{{asset('bundles/lcmcore/img/icon-linkedin.png')}}" />
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="footer">
    <table>
        <tr>
            <td class="small small-left">
                Startups proudly accelerated at Le Camping, Paris.<br /><br />

                <a href="http://accelerate.numaparis.com">
                    accelerate.numaparis.com
                </a>
            </td>
            <td>
                <img src="{{asset('bundles/lcmcore/img/logo-camping.png')}}" />
            </td>
            <td class="small small-right">
                &copy; Le Camping Mafia, 2014<br /><br />

                last update, january 2014
            </td>
        </tr>
    </table>
    </div>
</body>
</html>
