<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>le CampingMafia</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:200,400' rel='stylesheet' type='text/css' />
    <style type="text/css">
    body {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0px;
        padding: 0px;
    }
    #content { margin: 0px 75px 0px 75px; }
    #head { margin: 100px 0px 50px 0px; text-align: center; }

    table { width: 100%; }
    tr { line-height: 80px; }
    td, th { text-align: left; }
    th { font-weight: 200; font-style: italic; }
    .name { width: 200px; color: #777; overflow: hidden; height: 80px; }
    .website { width: 250px; }
    .status { width: 75px; text-align: center; }
    .season { width: 75px; text-align: center; }
    .center { text-align: center; }
    .pitch { line-height: 20px; }
    </style>
</head>
<body>
    <div id="content">
        <div id="head">
            <img src="{{ asset('bundles/lcmcore/img/campingmafia.png') }}" alt="le CampingMafia" />
        </div>
        <table>
            <tr>
                <th>name</th>
                <th>website</th>
                <th class="center">status</th>
                <th class="center">season</th>
                <th>pitch</th>
            </tr>
        {% for startup in startups %}
            <tr>
                <td class="name">{{ startup.name }}</td>
                <td class="website"><a href="{{ startup.website }}">{{ startup.website[7:] }}</a></td>
                <td class="status">{% if startup.status == 'a' %}active{% elseif startup.status == 'd' %}dead{% elseif startup.status == 'e' %}exited{% else %}{% endif %}</td>
                <td class="season"><span>{{ startup.season }}</span></td>
                <td class="pitch">{{ startup.pitch }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>
