{% extends 'LCMAdminBundle::layout.html.twig' %}

{% set title = 'Startup' %}
{% set subtitle = 'edit' %}

{% block actions %}

<form action="{{ path('startup_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}<button type="submit">Delete</button></form><a href="{{ path('startup') }}">Back to the list</a>


{% endblock %}

{% block content %}


<form action="{{ path('startup_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>


{% endblock %}
