{% extends 'LCMAdminBundle::layout.html.twig' %}

{% set title = 'User' %}
{% set subtitle = 'details' %}

{% block actions %}

<form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}<button type="submit">Delete</button></form><a href="{{ path('user') }}">Back to the list</a>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('user_edit', { 'id': entity.id }) }}">Edit</a>

{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Usernamecanonical</th>
            <td>{{ entity.usernameCanonical }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Emailcanonical</th>
            <td>{{ entity.emailCanonical }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ entity.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Locked</th>
            <td>{{ entity.locked }}</td>
        </tr>
        <tr>
            <th>Expired</th>
            <td>{{ entity.expired }}</td>
        </tr>
        <tr>
            <th>Expiresat</th>
            <td>{{ entity.expiresAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Confirmationtoken</th>
            <td>{{ entity.confirmationToken }}</td>
        </tr>
        <tr>
            <th>Passwordrequestedat</th>
            <td>{{ entity.passwordRequestedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{% for role in entity.roles %}{{ role}} {% endfor %}</td>
        </tr>
        <tr>
            <th>Credentialsexpired</th>
            <td>{{ entity.credentialsExpired }}</td>
        </tr>
        <tr>
            <th>Credentialsexpireat</th>
            <td>{{ entity.credentialsExpireAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Facebookid</th>
            <td>{{ entity.facebookId }}</td>
        </tr>
    </tbody>
</table>


{% endblock %}
