{% extends 'LCMMafiaBundle::layout.html.twig' %}

{% block content %}
        {% set season = 0 %}
        {% for startup in startups %}
        {% if startup.status == 'c' %}
        <h2>{{ startup.name }}</h2>
        <div class="staff">
                <a href="{{ startup.website }}">{{ startup.website }}</a>
                <br />
                {% for founder in startup.founders %}
                    <a href="http://facebook.com/{{ founder.facebookid }}" target="_blank"><img class="profile" src="http://graph.facebook.com/{{ founder.facebookid }}/picture" alt="" /></a>
                {% endfor %}
        </div>
        {% else %}
            {% if season != startup.season %}{% set season = startup.season %}<h2>Season {{ season }}</h2>{% endif %}
            <div class="startup">
                <h3>{{ startup.name }}</h3>
                <br />
                <a href="{{ startup.website }}">{{ startup.website }}</a>
                <br />
                {% for founder in startup.founders %}
                    <a href="http://facebook.com/{{ founder.facebookid }}" target="_blank"><img class="profile" src="http://graph.facebook.com/{{ founder.facebookid }}/picture" alt="" /></a>
                {% endfor %}
            </div>
        {% endif %}
        {% endfor %}

        {% set titre = false %}
        {% for founder in bros %}
        {% if founder.startup|length == 0 %}
            {% if titre == false %}<h2>Pas de startup ?</h2>{% set titre = true %}{% endif %}
            <a href="http://facebook.com/{{ founder.facebookid }}" target="_blank"><img class="profile" src="http://graph.facebook.com/{{ founder.facebookid }}/picture" alt="" /></a>
        {% endif %}
        {% endfor %}
{% endblock %}
