{% extends 'LCMMafiaBundle::layout.html.twig' %}

{% block content %}
        <p>Hello {{ app.user.firstname }}.</p>

        {% if bros|length %}<h2>Valider les Bro</h2>{% endif %}
        {% for bro in bros %}
            <p><img class="profile" src="http://graph.facebook.com/{{ bro.facebookid }}/picture" alt="" /> {{ bro.firstname }} {{ bro.lastname }}. Make him a <a href="{{ path('_mafia_inbro', {'id': bro.id }) }}">bro</a></p>
        {% endfor %}

        <h2>Select your startup</h2>
        <p>
        <form action="{{ path('_mafia_updatefounder') }}" method="post" {{ form_enctype(selectstartup) }}>
            {{ form_widget(selectstartup) }}
            <p>
                <button type="submit">Edit</button>
            </p>
        </form>
        </p>

        {# <h2>Create startup</h2>
        <p>
        <form action="{{ path('_mafia_create') }}" method="post" {{ form_enctype(createstartup) }}>
            {{ form_widget(createstartup) }}
            <p>
                <button type="submit">Create</button>
            </p>
        </form> #}

        

        {% if startupedit|length %}
        <h2>Edit your startup</h2>
            {% for k,start in startupedit %}
            <h3>{{ startups[k].name }}</h3>
            <form action="{{ path('_mafia_edit', {'id': startups[k].id }) }}" method="post" {{ form_enctype(start) }}>
                {{ form_widget(start) }}
                <p>
                    <button type="submit">Edit</button>
                </p>
            </form>
            {% endfor %}
        {% endif %}


        <h2>Tutoriel</h2>
        <p>Ok, le site est développé un peu rapidement. Si vous voulez changer quelque chose, on vous donne accès aux sources.</p>
        <p></p>
        <h3>SocialNetworks</h3>
        <p>Voici comment mettre vos liens. Ok c'est pas ouf, mais tu as un bien un CTO qui va pouvoir faire ça ;)</p>
        <p>{ "facebook":"http://facebook.com/smiirl", "twitter":"http://www.twitter.com/smiirl", "linkedin":"http://www.linkedin.com/smiirl", "angelist":"http://www.angelist.co/smiirl", "mail":"r2d2@smiirl.com" }</p>
        <h3>Website</h3>
        <p>Merci de bien mettre http:// devant votre URL sinon le lien ne fonctionne pas. (oui c'est débile)</p>
        <h3>Pitch</h3>
        <p>Le pitch en 140 caractères, on adore.</p>
        <h3>Favicon.ico</h3>
        <p>L'image c'est votre favicon : website + /favicon.ico (exemple <img src="http://smiirl.com/favicon.ico" alt="" />)</p>
        <p></p>
{% endblock %}
